<table>
	<tr>
		<td colspan="5" style=" background-color: #F2D5B4;">
			<div style="max-width: 300px;" class="nowrap"
				title="CS521dn Printer High Volt BENELUX ACE DZ BA BG HR EE FR EG GR DE IT LT LV MA PL RO RU RS SI TR">
				CS521dn Printer High Volt BENELUX ACE DZ BA BG HR EE FR EG GR DE IT LT LV MA PL RO RU RS SI TR </div>
		</td>
	</tr>
	<tr>
		<td style="background-color: #00FFFF;">9928</td>
		<td class="grey-small">Mono</td>
		<td class="grey-small">Color</td>
		<td class="grey-small">PC MONO</td>
		<td class="grey-small">PC COLOR</td>
	</tr>
	<tr>
		<td class="grey">Consumption</td>
		<td class="number">400</td>
		<td class="number">255</td>
		<td class="number">655</td>
		<td class="number">0</td>
	</tr>
	<tr>
		<td class="grey">SWE</td>
		<td class="number">3000</td>
		<td class="number">2000</td>
		<td class="number">125000</td>
		<td class="number">0</td>
	</tr>
	<tr>
		<td class="grey">Aftermarket</td>
		<td class="number">10500</td>
		<td class="number">7000</td>
		<td class="number">125000</td>
		<td class="number">0</td>
	</tr>
	<tr>
		<td class="grey nowrap">Bid vs Country</td>
		<td class="number">23%</td>
		<td class="number">241%</td>
		<td class="number">-277%</td>
		<td class="number">0</td>
	</tr>
	<tr>
		<td>GEO cons.</td>
		<td class="number">400</td>
		<td class="number">255</td>
		<td class="number" style="border: 0px"></td>
		<td class="number" style="border: 0px"></td>
	</tr>
	<tr>
		<td>Country cons.</td>
		<td class="number"></td>
		<td class="number"></td>
		<td class="number" style="border: 0px"></td>
		<td class="number" style="border: 0px"></td>
	</tr>
	<tr>
		<td><div class="nowrap">Customer cons.</div></td>
		<td class="number">375%</td>
		<td class="number">588%</td>
		<td class="number" style="border: 0px"></td>
		<td class="number" style="border: 0px"></td>
	</tr>
	<tr>
		<td>LAPD cons.</td>
		<td class="number"></td>
		<td class="number"></td>
		<td class="number" style="border: 0px"></td>
		<td class="number" style="border: 0px"></td>
	</tr>
</table>