<table>
	<tr>
		<td class="align-top" style="vertical-align: top;" colspan="2">
			<table style="vertical-align: top; border: 1px black solid;">
				<tr>
					<td style="vertical-align: center; cursor: pointer;" (click)=toggleDisplay()><button mat-icon-button aria-label="Example icon-button with a heart icon"><mat-icon *ngIf="!this.state.$impact">add</mat-icon><mat-icon  *ngIf="this.state.$impact">remove</mat-icon></button><mat-label>Show Impact</mat-label>
					</td>
				</tr>
			</table>
		</td>
		<td class="align-top" *ngIf="this.state.master">
			<app-configcalcheader calclevel="master"></app-configcalcheader>
		</td>
		<td class="align-top" *ngIf="this.state.bsd">
			<app-configcalcheader calclevel="bsd"></app-configcalcheader>
		</td>
		<td class="align-top" *ngIf="this.state.previously">
			<app-configcalcheader calclevel="previously"></app-configcalcheader>
		</td>
		<td class="align-top" *ngIf="this.state.country">
			<app-configcalcheader calclevel="country"></app-configcalcheader>
		</td>
		<td class="align-top" *ngIf="this.state.geo">
			<app-configcalcheader calclevel="geo"></app-configcalcheader>
		</td>
		<td class="align-top" *ngIf="this.state.competitor">
			<app-configcalcheader calclevel="competitor"></app-configcalcheader>
		</td>
		<td class="align-top" *ngIf="this.state.director">
			<app-configcalcheader calclevel="director"></app-configcalcheader>
		</td>
	</tr>
	<tr>
    <td>
      
    </td>
		<td class="align-top">
			<app-configdetail></app-configdetail>
      
      <app-impact *ngIf="this.state.$impact"></app-impact>
		</td>
		<td class="align-top" *ngIf="this.state.master">
			<app-configcalc calclevel="master"></app-configcalc>
		</td>
		<td class="align-top" *ngIf="this.state.bsd">
			<app-configcalc calclevel="bsd"></app-configcalc>
		</td>
		<td class="align-top" *ngIf="this.state.previously">
			<app-configcalc calclevel="previously"></app-configcalc>
		</td>
		<td class="align-top" *ngIf="this.state.country">
			<app-configcalc calclevel="country"></app-configcalc>
		</td>
		<td class="align-top" *ngIf="this.state.geo">
			<app-configcalc calclevel="geo"></app-configcalc>
		</td>
		<td class="align-top" *ngIf="this.state.competitor">
			<app-configcalc calclevel="competitor"></app-configcalc>
		</td>
		<td class="align-top" *ngIf="this.state.director">
			<app-configcalc calclevel="director"></app-configcalc>
		</td>
	</tr>
</table>