<table>
	<tr>
		<td>
			Impact install base
		</td>
		<td style="border: 0px"></td>
		<td style="border: 0px"></td>
		<td style="border: 0px" colspan="4"></td>
	</tr>
	<tr>
		<td>Units / Duration</td>
		<td class="number"> </td>
		<td class="number">48</td>
		<td style="border: 0px" colspan="4"></td>
	</tr>
	<tr>
		<td>Number cartride mono / color impacted customer</td>
		<td class="number beige">0</td>
		<td class="number beige">0</td>    
    <td style="border: 0px"></td>
  <td style="border: 0px">LAPD</td>
  <td class="number beige">0</td>
  <td class="number beige">0</td>
	</tr>
	<tr>
		<td>K$ impact mono / color * customer</td>
		<td class="number beige">0.00</td>
		<td class="number beige">0.00</td>
   <td style="border: 0px"></td>
  <td style="border: 0px">LAPD</td>
  <td class="number beige">0.00</td>
  <td class="number beige">0.00</td>
	</tr>
</table>