<div style="max-width:1000px;"><mat-grid-list cols="4" rowHeight="3em" >
	<mat-grid-tile>
		<b>Justiz NRW 2018</b>
	</mat-grid-tile>
	<mat-grid-tile>
		Country: Germany
	</mat-grid-tile>
	<mat-grid-tile>
		Outlook HW
		<br />
    0.8547
	</mat-grid-tile>
		<mat-grid-tile>
			Outlook SU
			<br />
    0.8547
	</mat-grid-tile>
  <mat-grid-tile>
		2019-4-1 to 2026-3-31 / 6 years, 11 months, 30 days
	</mat-grid-tile>
	<mat-grid-tile>
		<b>Quote # 2018-369718</b>
	</mat-grid-tile>
	<mat-grid-tile colspan="2">
		DD Rate: 0.8110
	</mat-grid-tile>
</mat-grid-list>
</div>