<table>
	<tr>
		<td colspan="4" class="mat-title">
			Quote Information
			<mat-divider></mat-divider>
		</td>
		<td></td>
	</tr>
	<tr>
		<td class="mat-body-2" style="min-width:125px;">Quote Name:
		</td>
		<td style="min-width:200px;">Justiz NRW 2018
		</td>
		<td class="mat-body-2" style="min-width:125px;">Quote Description:
		</td>
		<td>New public tender of the former Lexmark customer justice nrw.
		</td>
	</tr>
	<tr>
		<td class="mat-body-2">Start Date:
		</td>
		<td>04/01/2019
		</td>
		<td class="mat-body-2">End Date:
		</td>
		<td>03/31/2026
		</td>
	</tr>
	<tr>
		<td class="mat-body-2">Quote Category:
		</td>
		<td>Special Bid Traditional
		</td>
		<td>
		</td>
		<td>
		</td>
	</tr>
	<tr>
	<tr>
		<td colspan="2" class="mat-title">Sales Information
			<mat-divider></mat-divider>
		</td>
	</tr>
	<tr>
		<td class="mat-body-2">Sales Region:
		</td>
		<td>Germany
		</td>
    	<td class="mat-body-2" rowspan="7" colspan="2">
			<mat-form-field appearance="outline">
				<mat-label>Outlook Rate HW:</mat-label>
				<input matInput [(ngModel)]="this.core.$header.outlookRateHW"/>
      </mat-form-field><br />
      <mat-form-field appearance="outline">
				<mat-label>Outlook Rate SU:</mat-label>
				<input matInput [(ngModel)]="this.core.$header.outlookRateSU"/>
      </mat-form-field>
		</td>
	</tr>
	<tr>
		<td class="mat-body-2">Sales Org:
		</td>
		<td>1013
		</td>
	</tr>
	<tr>
		<td class="mat-body-2">Sales Office:
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td class="mat-body-2">Sales Group:
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td class="mat-body-2">Sales GEO:
		</td>
		<td>EMEA
		</td>
	</tr>
	<tr>
		<td class="mat-body-2">Quote Currency:
		</td>
		<td>EUR
		</td>
	</tr>
	<tr>
		<td class="mat-body-2">Exchange Rate:
		</td>
		<td>1.233
		</td>
	</tr>
</table>