<mat-list role="list">
	<h3 mat-subheader>01/18/2020</h3>
	<mat-list-item role="listitem">Added filter toggles</mat-list-item>
	<mat-list-item role="listitem">Moved Impact area to collapsible area.</mat-list-item>
	<mat-divider></mat-divider>

	<h3 mat-subheader>01/20/2020</h3>
	<mat-list-item role="listitem">Moved Impact to global instead of per config</mat-list-item>
	<mat-list-item role="listitem">Updated header</mat-list-item>
	<mat-list-item role="listitem">Average consumption tab slice calculators now use appropriate field for calculations.
	</mat-list-item>
	<mat-list-item role="listitem">Calculations on Average Consumption slices now use User entered Outlook Rate where
		appropriate</mat-list-item>
	<mat-divider></mat-divider>

	<h3 mat-subheader>01/22/2020</h3>
	<mat-list-item role="listitem">Moved Impact back to per config</mat-list-item>
	<mat-list-item role="listitem">Added collapsible functionality to Sale Information section.</mat-list-item>
	<mat-divider></mat-divider>

	<h3 mat-subheader>01/23/2020</h3>
	<mat-list-item role="listitem">Added Rev calculations and total to Target Pricing tab.</mat-list-item>
	<mat-list-item role="listitem">Added GEO Σ Rev calcu.</mat-list-item>
	<mat-divider></mat-divider>
	<mat-list-item role="listitem"></mat-list-item>
</mat-list>