table {
  width: 100%;
}
.table-row {
  height: 30px !important;
}
.mat-cell {
  border-right: 1px solid grey;
  align-self: stretch;
  padding-left: 5px;
  padding-right: 3px;
 
 }
.mat-header-cell {
  border-right: 1px solid darkgrey;
  background-color: grey;
  color: white;
  align-self: stretch;
  white-space: nowrap;
  padding-left: 5px;
 padding-right: 3px;
}