<table>
	<tr>
		<td style="background-color: #EAEAEA; font-weight:bold;">NPV2
		</td>
		<td style="background-color: #EAEAEA; font-weight:bold;">GP
		</td>
		<td style="background-color: #EAEAEA; font-weight:bold;">GP%
		</td>
	</tr>
	<tr>
		<td style="background-color: #DCE6F1;">-1,959
		</td>
		<td>4,160
		</td>
		<td>-20%
		</td>
	</tr>
	<tr>
		<td style="background-color: #DCE6F1;">-2,049
		</td>
		<td style="background-color: #DCE6F1;">3,887
		</td>
		<td style="background-color: #DCE6F1;">-27%
		</td>
	</tr>
  <tr><td colspan="3" class="{{calclevel}}">		
				{{getLevelLabel()}} - USD
    </td></tr>
</table>