<table>
  <tr>
    <td style="border: 1px solid black; background-color: #EAEAEA; font-weight:bold;">NPV2
    </td>
    <td style="border: 1px solid black; background-color: #EAEAEA; font-weight:bold;">GP
    </td>
    <td style="border: 1px solid black; background-color: #EAEAEA; font-weight:bold;">GP%
    </td>
  </tr>  <tr>
    <td style="border: 1px solid black; background-color: #DCE6F1;">-1,959
    </td>
    <td style="border: 1px solid black;">4,160
    </td>
    <td style="border: 1px solid black;">-20%
    </td>
  </tr>  <tr>
    <td style="border: 1px solid black; background-color: #DCE6F1;">-2,049
    </td>
    <td style="border: 1px solid black; background-color: #DCE6F1;">3,887
    </td>
    <td style="border: 1px solid black; background-color: #DCE6F1;">-27%
    </td>
  </tr>
</table>