<table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
	<ng-container matColumnDef="configid">
		<th mat-header-cell *matHeaderCellDef> </th>
		<td mat-cell *matCellDef="let config;let index = index"> {{index == 0 ? config.configId : config.materialLine}}
		</td>
		<td mat-footer-cell *matFooterCellDef> </td>
	</ng-container>
	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef> </th>
		<td mat-cell *matCellDef="let config">
			<div style="width:150px;" title="{{config.name}}">{{config.name}}</div>
		</td>
		<td mat-footer-cell *matFooterCellDef> </td>
	</ng-container>
	<ng-container matColumnDef="partnumber">
		<th mat-header-cell *matHeaderCellDef> Part Number </th>
		<td mat-cell *matCellDef="let config"> {{config.partNumber}} </td>
		<td mat-footer-cell *matFooterCellDef> </td>
	</ng-container>
	<ng-container matColumnDef="quantity">
		<th mat-header-cell *matHeaderCellDef> Units </th>
		<td mat-cell *matCellDef="let config;let index = index" class="number">
			<editable (update)="updateField(index, 'quantity')">
				<ng-template viewMode>
					{{config.quantity}}
				</ng-template>
				<ng-template editMode>
					<mat-form-field class="example-full-width">
						<input matInput [formControl]="getControl(index, 'quantity')"   />
						<mat-error *ngIf="getControl(index, 'quantity').hasError('required')">
							Field is <strong>required</strong>
						</mat-error>
					</mat-form-field>
					<!-- <input  [formControl]="getControl(index, 'name')" focusable editableOnEnter> -->
				</ng-template>
			</editable>
		</td>
		<td mat-footer-cell *matFooterCellDef style="font-size:9pt;min-width: 65px;"> CPP Mono </td>
	</ng-container>
	<ng-container matColumnDef="flod">
		<th mat-header-cell *matHeaderCellDef> Flod </th>
		<td mat-cell *matCellDef="let config" class="number">{{config.flod}}</td>
		<td mat-footer-cell *matFooterCellDef class="number">0.0136</td>
	</ng-container>
	<ng-container matColumnDef="master">
		<th mat-header-cell *matHeaderCellDef> Master </th>
		<td mat-cell *matCellDef="let config"> {{config.master}} </td>
		<td mat-footer-cell *matFooterCellDef> </td>
	</ng-container>
	<ng-container matColumnDef="BSD">
		<th mat-header-cell *matHeaderCellDef> Offer </th>
		<td mat-cell *matCellDef="let config"> {{config.offer}} </td>
		<td mat-footer-cell *matFooterCellDef> </td>
	</ng-container>
	<ng-container matColumnDef="pabp">
		<th mat-header-cell *matHeaderCellDef> Pabp </th>
		<td mat-cell *matCellDef="let config" class="number"> {{config.pabp}} </td>
		<td mat-footer-cell *matFooterCellDef class="number">0.0045</td>
	</ng-container>
	<ng-container matColumnDef="cntry">
		<th mat-header-cell *matHeaderCellDef> Ctry </th>
		<td mat-cell *matCellDef="let config" class="number"> {{config.country}} </td>
		<td mat-footer-cell *matFooterCellDef class="number">0.0043</td>
	</ng-container>
	<ng-container matColumnDef="geo">
		<th mat-header-cell *matHeaderCellDef> GEO </th>
		<td mat-cell *matCellDef="let config;let index = index" class="number">
			<editable (update)="updateField(index, 'geo')">
				<ng-template viewMode>
					{{config.geo}}
				</ng-template>
				<ng-template editMode>
					<mat-form-field class="example-full-width">
						<input matInput [formControl]="getControl(index, 'geo')"   />
						<mat-error *ngIf="getControl(index, 'geo').hasError('required')">
							Field is <strong>required</strong>
						</mat-error>
					</mat-form-field>
					<!-- <input  [formControl]="getControl(index, 'name')" focusable editableOnEnter> -->
				</ng-template>
			</editable>
		</td>
		<td mat-footer-cell *matFooterCellDef class="number">0.0045</td>
	</ng-container>
	<ng-container matColumnDef="competitor">
		<th mat-header-cell *matHeaderCellDef> COMPET </th>
		<td mat-cell *matCellDef="let config;let index = index" class="number">
			<editable (update)="updateField(index, 'competitor')">
				<ng-template viewMode>
					{{config.competitor}}
				</ng-template>
				<ng-template editMode>
					<mat-form-field class="example-full-width">
						<input matInput [formControl]="getControl(index, 'competitor')"   />
						<mat-error *ngIf="getControl(index, 'competitor').hasError('required')">
							Field is <strong>required</strong>
						</mat-error>
					</mat-form-field>
					<!-- <input  [formControl]="getControl(index, 'name')" focusable editableOnEnter> -->
				</ng-template>
			</editable>
		</td>
		<td mat-footer-cell *matFooterCellDef class="number">0.0045</td>
	</ng-container>
	<ng-container matColumnDef="director">
		<th mat-header-cell *matHeaderCellDef> DIR </th>
		<td mat-cell *matCellDef="let config;let index = index" class="number">
			<editable (update)="updateField(index, 'director')">
				<ng-template viewMode>
					{{config.director}}
				</ng-template>
				<ng-template editMode>
					<mat-form-field class="example-full-width">
						<input matInput [formControl]="getControl(index, 'director')"   />
						<mat-error *ngIf="getControl(index, 'director').hasError('required')">
							Field is <strong>required</strong>
						</mat-error>
					</mat-form-field>
					<!-- <input  [formControl]="getControl(index, 'name')" focusable editableOnEnter> -->
				</ng-template>
			</editable>
		</td>
		<td mat-footer-cell *matFooterCellDef class="number">0.0043</td>
	</ng-container>
	<ng-container matColumnDef="ctryvspabp">
		<th mat-header-cell *matHeaderCellDef> Ctry vs PABP</th>
		<td mat-cell *matCellDef="let config" class="number"> {{getVsPct(config.country, config.pabp).toFixed(0)}}%
		</td>
		<td mat-footer-cell *matFooterCellDef> </td>
	</ng-container>
	<ng-container matColumnDef="dirvpabp">
		<th mat-header-cell *matHeaderCellDef> Dir vs PABP</th>
		<td mat-cell *matCellDef="let config" class="number"> {{getVsPct(config.director, config.pabp).toFixed(0)}}%
		</td>
		<td mat-footer-cell *matFooterCellDef> </td>
	</ng-container>
	<ng-container matColumnDef="dirvctry">
		<th mat-header-cell *matHeaderCellDef> Dir vs Ctry</th>
		<td mat-cell *matCellDef="let config" class="number"> {{getVsPct(config.director, config.country).toFixed(0)}}%
		</td>
		<td mat-footer-cell *matFooterCellDef> </td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
	<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>