<table mat-table [dataSource]="dataSource" class="mat-elevation-z1">
	<ng-container matColumnDef="configid">
		<th mat-header-cell *matHeaderCellDef>  </th>
		<td mat-cell *matCellDef="let config;let index = index"> {{index == 0 ? config.configId : config.materialLine}} </td>
	</ng-container>
	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef>  </th>
		<td mat-cell *matCellDef="let config"> <div style="width:150px;" title="{{config.name}}">{{config.name}}</div> </td>
	</ng-container>
	<ng-container matColumnDef="partnumber">
		<th mat-header-cell *matHeaderCellDef> Part Number </th>
		<td mat-cell *matCellDef="let config"> {{config.partNumber}} </td>
	</ng-container>
	<ng-container matColumnDef="quantity">
		<th mat-header-cell *matHeaderCellDef> Units </th>
		<td mat-cell *matCellDef="let config;let index = index">
			<editable (update)="updateField(index, 'quantity')">
				<ng-template viewMode>
					{{config.quantity}}
				</ng-template>
				<ng-template editMode>
					<mat-form-field class="example-full-width">
						<input matInput [formControl]="getControl(index, 'quantity')"   />
						<mat-error *ngIf="getControl(index, 'quantity').hasError('required')">
							Field is <strong>required</strong>
						</mat-error>
					</mat-form-field>
					<!-- <input  [formControl]="getControl(index, 'name')" focusable editableOnEnter> -->
				</ng-template>
			</editable>
		</td>
	</ng-container>
	<ng-container matColumnDef="flod">
		<th mat-header-cell *matHeaderCellDef> Flod </th>
		<td mat-cell *matCellDef="let config"> {{config.flod}} </td>
	</ng-container>
	<ng-container matColumnDef="master">
		<th mat-header-cell *matHeaderCellDef> Master </th>
		<td mat-cell *matCellDef="let config"> {{config.master}} </td>
	</ng-container>
	<ng-container matColumnDef="BSD">
		<th mat-header-cell *matHeaderCellDef> Offer </th>
		<td mat-cell *matCellDef="let config"> {{config.offer}} </td>
	</ng-container>
	<ng-container matColumnDef="pabp">
		<th mat-header-cell *matHeaderCellDef> Pabp </th>
		<td mat-cell *matCellDef="let config"> {{config.pabp}} </td>
	</ng-container>
	<ng-container matColumnDef="netbidprice">
		<th mat-header-cell *matHeaderCellDef> Net Bid Price </th>
		<td mat-cell *matCellDef="let config"> {{config.netbidprice}} </td>
	</ng-container>
	<ng-container matColumnDef="matline">
		<th mat-header-cell *matHeaderCellDef> Material Line </th>
		<td mat-cell *matCellDef="let config"> {{getMaterialLine(config.type)}} </td>
	</ng-container>
	<ng-container matColumnDef="cntry">
		<th mat-header-cell *matHeaderCellDef> Ctry </th>
		<td mat-cell *matCellDef="let config"> {{config.country}} </td>
	</ng-container>
	<ng-container matColumnDef="geo">
		<th mat-header-cell *matHeaderCellDef> GEO </th>
		<td mat-cell *matCellDef="let config;let index = index">
			<editable (update)="updateField(index, 'geo')">
				<ng-template viewMode>
					{{config.geo}}
				</ng-template>
				<ng-template editMode>
					<mat-form-field class="example-full-width">
						<input matInput [formControl]="getControl(index, 'geo')"   />
						<mat-error *ngIf="getControl(index, 'geo').hasError('required')">
							Field is <strong>required</strong>
						</mat-error>
					</mat-form-field>
					<!-- <input  [formControl]="getControl(index, 'name')" focusable editableOnEnter> -->
				</ng-template>
			</editable>
		</td>	</ng-container>
	<ng-container matColumnDef="competitor">
		<th mat-header-cell *matHeaderCellDef> COMPET </th>
		<td mat-cell *matCellDef="let config;let index = index">
			<editable (update)="updateField(index, 'competitor')">
				<ng-template viewMode>
					{{config.competitor}}
				</ng-template>
				<ng-template editMode>
					<mat-form-field class="example-full-width">
						<input matInput [formControl]="getControl(index, 'competitor')"   />
						<mat-error *ngIf="getControl(index, 'competitor').hasError('required')">
							Field is <strong>required</strong>
						</mat-error>
					</mat-form-field>
					<!-- <input  [formControl]="getControl(index, 'name')" focusable editableOnEnter> -->
				</ng-template>
			</editable>
		</td>
	</ng-container>
	<ng-container matColumnDef="director">
		<th mat-header-cell *matHeaderCellDef> DIR </th>
	<td mat-cell *matCellDef="let config;let index = index">
			<editable (update)="updateField(index, 'director')">
				<ng-template viewMode>
					{{config.director}}
				</ng-template>
				<ng-template editMode>
					<mat-form-field class="example-full-width">
						<input matInput [formControl]="getControl(index, 'director')"   />
						<mat-error *ngIf="getControl(index, 'director').hasError('required')">
							Field is <strong>required</strong>
						</mat-error>
					</mat-form-field>
					<!-- <input  [formControl]="getControl(index, 'name')" focusable editableOnEnter> -->
				</ng-template>
			</editable>
		</td>
	</ng-container>
	<ng-container matColumnDef="ctryvspabp">
		<th mat-header-cell *matHeaderCellDef> Ctry vs PABP</th>
		<td mat-cell *matCellDef="let config"> {{getVsPct(config.country, config.pabp).toFixed(0)}}% </td>
	</ng-container>
	<ng-container matColumnDef="dirvpabp">
		<th mat-header-cell *matHeaderCellDef> Dir vs PABP</th>
		<td mat-cell *matCellDef="let config"> {{getVsPct(config.director, config.pabp).toFixed(0)}}% </td>
	</ng-container>
	<ng-container matColumnDef="dirvctry">
		<th mat-header-cell *matHeaderCellDef> Dir vs Ctry</th>
		<td mat-cell *matCellDef="let config"> {{getVsPct(config.director, config.country).toFixed(0)}}% </td>
	</ng-container>
  	<ng-container matColumnDef="vsflod">
		<th mat-header-cell *matHeaderCellDef> Vs FLOD</th>
		<td mat-cell *matCellDef="let config"> {{((config.country - config.flod)/config.flod*100).toFixed(0)}}% </td>
	</ng-container>
	<ng-container matColumnDef="aur">
		<th mat-header-cell *matHeaderCellDef> AUR</th>
		<td mat-cell *matCellDef="let config"> {{getAur(config).toFixed(2)}} </td>
	</ng-container>
	<ng-container matColumnDef="gppct">
		<th mat-header-cell *matHeaderCellDef> GP %</th>
		<td mat-cell *matCellDef="let config"> {{getGP(config).toFixed(0)}}% </td>
	</ng-container>
	<ng-container matColumnDef="spacer">
		<th mat-header-cell *matHeaderCellDef> </th>
		<td mat-cell *matCellDef="let config"> </td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>
</table>