<table>
	<tr>
		<td class="grey header">Total</td>
		<td class="grey header">Units</td>
		<td class="grey header">Rev</td>
		<td class="grey header">GP</td>
		<td class="grey header">GP%</td>
	</tr>
	<tr>
		<td class="grey">HW</td>
		<td class="grey number">300</td>
		<td class="grey number">56</td>
		<td class="grey number">-150</td>
		<td class="gp number">-267%</td>
	</tr>
	<tr>
		<td class="grey">XW</td>
		<td class="grey number">300</td>
		<td class="grey number">25</td>
		<td class="grey number">5</td>
		<td class="gp number">20%</td>
	</tr>
	<tr>
		<td class="grey">SU</td>
		<td class="grey number">2,129</td>
		<td class="grey number">132</td>
		<td class="grey number">103</td>
		<td class="gp number">78%</td>
	</tr>
	<tr>
		<td class="grey">PC</td>
		<td class="grey number">0</td>
		<td class="grey number">0</td>
		<td class="grey number">0</td>
		<td class="gp number">0%</td>
	</tr>
	<tr>
		<td class="total" colspan="2">Total</td>
		<td class="number total">214</td>
		<td class="number total">-42</td>
		<td class="number total">-20%</td>
	</tr>
	<tr>
		<td></td>
		<td class="grey header">Unit</td>
		<td class="grey header">Case</td>
		<td class="number" colspan="2" rowspan="4"></td>
	</tr>
	<tr>
		<td class="grey" style="font-weight: bold;">NPV2</td>
		<td class="number total" >-355</td>
		<td class="number total" style="color: red;">-107</td>
	</tr>
	<tr>
		<td class="grey" style="font-weight: bold;">NPV3</td>
		<td class="number total" >-278</td>
		<td class="number total" style="color: red;">-83</td>
	</tr>
	<tr>
		<td colspan="2" class="grey header" style="font-weight: bold;">Be in mth</td>
		<td class="number total" >60</td>
	</tr>
</table>