<table>
	<tr>
		<td class="grey"></td>
		<td class="grey header">Units</td>
		<td class="grey header">Rev</td>
		<td class="grey header">GP</td>
		<td class="grey header">GP%</td>
	</tr>
	<tr>
		<td class="grey">HW</td>
		<td class="number">300</td>
		<td class="number">{{this.config.getRev("HW", this.calclevel).toFixed(0)}}</td>
		<td class="number">-150</td>
		<td class="number">-267%</td>
	</tr>
	<tr>
		<td class="grey">XW</td>
		<td class="number">300</td>
		<td class="number">{{this.config.getRev("XW", this.calclevel).toFixed(0)}}</td>
		<td class="number">5</td>
		<td class="number">20%</td>
	</tr>
	<tr>
		<td class="grey">SU</td>
		<td class="number">2,129</td>
		<td class="number">{{this.config.getRev("SU", this.calclevel).toFixed(0)}}</td>
		<td class="number">103</td>
		<td class="number">78%</td>
	</tr>
	<tr>
		<td class="grey">PC</td>
		<td class="number">0</td>
		<td class="number">{{this.config.getRev("PC", this.calclevel).toFixed(0)}}</td>
		<td class="number">0</td>
		<td class="number">0%</td>
	</tr>
	<tr>
		<td class="total" colspan="2">Total</td>
		<td class="number total">{{(+this.config.getRev("HW", this.calclevel).toFixed(0) + +this.config.getRev("XW", this.calclevel).toFixed(0) + +this.config.getRev("SU", this.calclevel).toFixed(0) + +this.config.getRev("PC", this.calclevel).toFixed(0)).toFixed(0)}}</td>
		<td class="number total">-42</td>
		<td class="number total">-20%</td>
	</tr>
	<tr>
		<td></td>
		<td class="grey header">Unit</td>
		<td class="grey header">Case</td>
		<td class="number"></td>
		<td class="number"></td>
	</tr>
	<tr>
		<td class="grey" style="font-weight: bold;">NPV2</td>
		<td class="number" style="background-color: #CCFFFF">-355</td>
		<td class="number" style="background-color: #CCFFFF; color: red;">-107</td>
		<td class="grey header" style="font-weight: bold;" colspan="2">Linear BE</td>
	</tr>
	<tr>
		<td class="grey" style="font-weight: bold;">NPV3</td>
		<td class="number" style="background-color: #CCFFFF">-278</td>
		<td class="number" style="background-color: #CCFFFF; color: red;">-83</td>
		<td class="grey-small header" style="font-weight: bold;">w/0 XW</td>
		<td class="grey-small header" style="font-weight: bold;">w XW</td>
	</tr>
	<tr>
		<td colspan="2" class="grey header" style="font-weight: bold;">Be in mth</td>
		<td class="number" style="background-color: #CCFFFF">60</td>
		<td class="number total">70</td>
		<td class="number total">51</td>
	</tr>
</table>